<div class="hello"> Hello I am CAT</div>
<div style="display:inline-block">
  <h2 class='name'>{{model.name}}</h2>
  <img src={{model.image}} style="height:250px">
  Owner by: <h2 class='owner'>{{model.ownerName}}</h2>
</div>
