<div class="hello">HELLO THIS IS DOG</div>
<div style="display:inline-block" class="content">
  <h2 class='name title is-2'>{{model.name}}</h2>
  <img src={{model.image}} style="height:250px" class="image">
  <p>
    Age: <h2 class='age title-is-5'>{{model.age}}</h2>
  </p>
</div>
